spring:
  config:
    activate:
      on-profile: jpa
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/nagare}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true

app:
  storage:
    type: jpa
